<tr data-role data-role-fed>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-trapping.html">2.1.2 - No Keyboard Trap</a>
    </p>
    <p>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-1-2" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-1-2" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-1-2">

        <p>If keyboard focus can be moved to a component of the page using a keyboard interface, then focus can be moved away from that component using only a keyboard interface, and, if it requires more than unmodified arrow or tab keys or other standard exit methods, the user is advised of the method for moving focus away. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-1-2">

        <p>Keyboard focus is never locked or trapped at one particular page element. The user can navigate to and from all navigable page elements using only a keyboard.</p>

      </div>
    </div>

  </td>
</tr>
