<tr data-role data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/time-limits-required-behaviors.html">2.2.1 - Timing Adjustable</a>
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-2-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-2-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-2-1">

        <p>For each time limit that is set by the content, at least one of the following is true: <strong class="nowrap">Level A</strong></p>

        <ul>
          <li>Turn off: The user is allowed to turn off the time limit before encountering it; or</li>
          <li>Adjust: The user is allowed to adjust the time limit before encountering it over a wide range that is at least ten times the length of the default setting; or</li>
          <li>Extend: The user is warned before time expires and given at least 20 seconds to extend the time limit with a simple action (for example, “press the space bar”), and the user is allowed to extend the time limit at least ten times; or</li>
          <li>Real-time Exception: The time limit is a required part of a real-time event (for example, an auction), and no alternative to the time limit is possible; or</li>
          <li>Essential Exception: The time limit is essential and extending it would invalidate the activity; or</li>
          <li>20 Hour Exception: The time limit is longer than 20 hours.</li>
        </ul>

      </div>
      <div class="tab-pane" id="webaim_2-2-1">

        <p>If a page or application has a time limit, the user is given options to turn off, adjust, or extend that time limit. This is not a requirement for real-time events (e.g., an auction), where the time limit is absolutely required, or if the time limit is longer than 20 hours.</p>

      </div>
    </div>

  </td>
</tr>
