<tr data-guideline data-role data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/time-limits-no-exceptions.html">2.2.3 - No Timing</a>
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-2-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-2-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-2-3">

        <p>Timing is not an essential part of the event or activity presented by the content, except for non-interactive synchronized media and real-time events. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-2-3">

        <p>The content and functionality has no time limits or constraints.</p>

      </div>
    </div>

  </td>
</tr>
