<tr data-role-content data-role-design>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/seizure-three-times.html">2.3.2 - Three Flashes</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-design">Design</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-3-2" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-3-2" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-3-2">

        <p>Web pages do not contain anything that flashes more than three times in any one second period. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-3-2">

        <p>No page content flashes more than 3 times per second.</p>

      </div>
    </div>

  </td>
</tr>
