<tr class="design fed ux">
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-location.html">2.4.8 - Location</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-8" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-8" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-8">

        <p>Information about the user's location within a set of Web pages is available. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-8">

        <p>If a web page is part of a sequence of pages or within a complex site structure, an indication of the current page location is provided, for example, through breadcrumbs or specifying the current step in a sequence (e.g., "Step 2 of 5 - Shipping Address").</p>

      </div>
    </div>

  </td>
</tr>
