<tr class="dev fed ux">
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-mult-loc.html">2.4.5 - Multiple Ways</a>
    </p>
    <p>
      <span class="label label-dev">Dev</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-5" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-5" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-5">

        <p>More than one way is available to locate a Web page within a set of Web pages except where the Web Page is the result of, or a step in, a process. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-5">

        <p>Multiple ways are available to find other web pages on the site - at least two of: a list of related pages, table of contents, site map, site search, or list of all available web pages.</p>

      </div>
    </div>

  </td>
</tr>
