<tr data-role data-role-content data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-link.html">2.4.9 - Link Purpose (Link Only)</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-9" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-9" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-9">

        <p>A mechanism is available to allow the purpose of each link to be identified from link text alone, except where the purpose of the link would be ambiguous to users in general. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-9">

        <ul>
          <li>The purpose of each link (or form image button or image map hotspot) can be determined from the link text alone.</li>
          <li>There are no links (or form image buttons) with the same text that go to different locations.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
