<tr data-role-design data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-visible.html">2.4.7 - Focus Visible</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-7" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-7" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-7">

        <p>Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-7">

        <p>It is visually apparent which page element has the current keyboard focus (i.e., as you tab through the page, you can see where you are).</p>

      </div>
    </div>

  </td>
</tr>
