<tr class="fed">
  <th>
    <p>
      2.1.1 - Keyboard<br>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-1-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-1-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-1-1">

        <p>All functionality of the content is operable through a keyboard interface without requiring specific timings for individual keystrokes, except where the underlying function requires input that depends on the path of the user’s movement and not just the endpoints. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-1-1">

        <ul>
          <li>All page functionality is available using the keyboard, unless the functionality cannot be accomplished in any known way using a keyboard (e.g., free hand drawing).</li>
          <li>Page-specified shortcut keys and accesskeys (accesskey should typically be avoided) do not conflict with existing browser and screen reader shortcuts.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
