<tr class="fed ux">
  <th scope="row">
    <p>
      2.2.4 - Interruptions
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-2-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-2-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-2-4">

        <p>Interruptions can be postponed or suppressed by the user, except interruptions involving an emergency. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-2-4">

        <p>Interruptions (alerts, page updates, etc.) can be postponed or suppressed by the user.</p>

      </div>
    </div>

  </td>
</tr>
