<tr class="fed ux">
  <th>
    <p>
      2.2.2 - Pause, Stop, Hide
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-2-2" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-2-2" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-2-2">

        <p>For moving, blinking, scrolling, or auto-updating information, all of the following are true: <strong class="nowrap">Level A</strong></p>

        <ul>
          <li>Moving, blinking, scrolling: For any moving, blinking or scrolling information that (1) starts automatically, (2) lasts more than five seconds, and (3) is presented in parallel with other content, there is a mechanism for the user to pause, stop, or hide it unless the movement, blinking, or scrolling is part of an activity where it is essential; and</li>
          <li>Auto-updating: For any auto-updating information that (1) starts automatically and (2) is presented in parallel with other content, there is a mechanism for the user to pause, stop, or hide it or to control the frequency of the update unless the auto-updating is part of an activity where it is essential.</li>
        </ul>

      </div>
      <div class="tab-pane" id="webaim_2-2-2">

        <ul>
          <li>Automatically moving, blinking, or scrolling content that lasts longer than 5 seconds can be paused, stopped, or hidden by the user. Moving, blinking, or scrolling can be used to draw attention to or highlight content as long as it lasts less than 5 seconds.</li>
          <li>Automatically updating content (e.g., automatically redirecting or refreshing a page, a news ticker, AJAX updated field, a notification alert, etc.) can be paused, stopped, or hidden by the user or the user can manually control the timing of the updates.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
