<tr class="content">
  <th>
    <p>
      2.3.1 - Three Flashes or Below Threshold
    </p>
    <p>
      <span class="label label-content">Content</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-3-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-3-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-3-1">

        <p>Web pages do not contain anything that flashes more than three times in any one second period, or the flash is below the general flash and red flash thresholds. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-3-1">

        <p>No page content flashes more than 3 times per second unless that flashing content is sufficiently small and the flashes are of low contrast and do not contain too much red.</p>

      </div>
    </div>

  </td>
</tr>
