<tr class="fed ux">
  <th>
    <p>
      2.4.4 - Link Purpose (In Context)<br>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-4">

        <p>The purpose of each link can be determined from the link text alone or from the link text together with its programmatically determined link context, except where the purpose of the link would be ambiguous to users in general. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-4">

        <ul>
          <li>The purpose of each link (or form image button or image map hotspot) can be determined from the link text alone, or from the link text and its context (e.g., surrounding paragraph, list item, table cell, or table headers).</li>
          <li>Links (or form image buttons) with the same text that go to different locations are readily distinguishable.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
