<tr class="fed">
  <th>
    <p>
      2.4.3 - Focus Order
    </p>
    <p>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-3">

        <p>If a Web page can be navigated sequentially and the navigation sequences affect meaning or operation, focusable components receive focus in an order that preserves meaning and operability. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-3">

        <p>The navigation order of links, form elements, etc. is logical and intuitive.</p>

      </div>
    </div>

  </td>
</tr>
