<tr class="fed">
  <th scope="row">
    <p>
      2.4.6 - Headings and Labels
    </p>
    <p>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-6" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-6" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-6">

        <p>Headings and labels describe topic or purpose. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-6">

        <p>Page headings and labels for form and interactive controls are informative. Avoid duplicating heading (e.g., "More Details") or label text (e.g., "First Name") unless the structure provides adequate differentiation between them.</p>

      </div>
    </div>

  </td>
</tr>
