<tr class="fed">
  <th>
    <p>
      2.4.1 - Bypass Blocks<br>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-1">

        <p>A mechanism is available to bypass blocks of content that are repeated on multiple Web pages. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_2-4-1">

        <ul>
          <li>A link is provided to skip navigation and other page elements that are repeated across web pages.</li>
          <li>If a page has a proper heading structure, this may be considered a sufficient technique instead of a "Skip to main content" link. Note that navigating by headings is not yet supported in all browsers.</li>
          <li>If a page uses frames and the frames are appropriately titled, this is a sufficient technique for bypassing individual frames.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
