<tr class="content fed ux">
  <th>
    <p>
      2.4.10 - Section Headings<br>
      <span class="label label-content">Content</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_2-4-10" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_2-4-10" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_2-4-10">

        <p>Section headings are used to organize the content. <strong class="nowrap">Level AAA</strong></p>

        <p><em>Note 1:</em> "Heading" is used in its general sense and includes titles and other ways to add a heading to different types of content.</p>

        <p><em>Note 2:</em> This success criterion covers sections within writing, not user interface components. User Interface components are covered under Success Criterion 4.1.2.</p>

      </div>
      <div class="tab-pane" id="webaim_2-4-10">

        <p>Beyond providing an overall document structure, individual sections of content are designated using headings, where appropriate.</p>

      </div>
    </div>

  </td>
</tr>
