<fieldset class="filters-responsibility">
  <legend>Filter by Responsibility</legend>

  <label>
    <input
      aria-controls="wcag-content"
      checked="checked"
      name="responsibility"
      type="radio"
      value="">

    <strong>All</strong>
  </label>
  <label>
    <input
      aria-controls="wcag-content"
      name="responsibility"
      type="radio"
      value="content">

    <span class="label label-content">Content</span>
  </label>
  <label>
    <input
      aria-controls="wcag-content"
      name="responsibility"
      type="radio"
      value="design">
    
    <span class="label label-design">Design</span>
  </label>
  <label>
    <input
      aria-controls="wcag-content"
      name="responsibility"
      type="radio"
      value="dev">

    <span class="label label-dev">Dev</span>
  </label>
  <label>
    <input
      aria-controls="wcag-content"
      name="responsibility"
      type="radio"
      value="fed">

    <span class="label label-fed">FED</span>
  </label>
  <label>
    <input
      aria-controls="wcag-content"
      name="responsibility"
      type="radio"
      value="ux">

    <span class="label label-ux">UX</span>
  </label>
</fieldset>
