<div class="filters-lab">
  <label>
    <input type="radio" name="lab" value="" checked="checked">
    <strong>All</strong>
  </label>
  <label>
    <input type="radio" name="lab" value="content">
    <span class="label label-content">Content</span>
  </label>
  <label>
    <input type="radio" name="lab" value="design">
    <span class="label label-design">Design</span>
  </label>
  <label>
    <input type="radio" name="lab" value="dev">
    <span class="label label-dev">Dev</span>
  </label>
  <label>
    <input type="radio" name="lab" value="fed">
    <span class="label label-fed">FED</span>
  </label>
  <label>
    <input type="radio" name="lab" value="ux">
    <span class="label label-ux">UX</span>
  </label>
</div>
