<div class="filters-level">
  <select>
    <option id="a" value="a">Level A</option>
    <option id="aa" value="aa" selected="selected">Level AA</option>
    <option id="aaa" value="aaa">Level AAA</option>
  </select>
</div>
