<div class="filters-responsibility">
  <label>
    <input type="radio" name="responsibility" value="" checked="checked">
    <strong>All</strong>
  </label>
  <label>
    <input type="radio" name="responsibility" value="content">
    <span class="label label-content">Content</span>
  </label>
  <label>
    <input type="radio" name="responsibility" value="design">
    <span class="label label-design">Design</span>
  </label>
  <label>
    <input type="radio" name="responsibility" value="dev">
    <span class="label label-dev">Dev</span>
  </label>
  <label>
    <input type="radio" name="responsibility" value="fed">
    <span class="label label-fed">FED</span>
  </label>
  <label>
    <input type="radio" name="responsibility" value="ux">
    <span class="label label-ux">UX</span>
  </label>
</div>
