<footer>
  <p class="pull-left">
    <strong>Resources:</strong> <a href="http://www.w3.org/TR/WCAG20/">W3C WCAG 2.0 Recommendation</a> | <a href="http://webaim.org/standards/wcag/checklist">WebAIM's WCAG 2.0 Checklist</a>
  </p>

  <p class="pull-right">Made with &hearts; at <a href="http://viget.com/">Viget</a>.</p>
</footer>
