<section id="perceivable">

  <h2>Principle 1: Perceivable</h2>

  <p class="lead">Information and user interface components must be presentable to users in ways they can perceive.</p>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv.html"><strong>Guideline 1.1 Text Alternatives:</strong></a> Provide text alternatives for any non-text content so that it can be changed into other forms people need, such as large print, braille, speech, symbols or simpler language.
    </div>

    <table class="table">
      <tbody class="a">
        {{> 1-1-1 }}
      </tbody>
    </table>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/media-equiv.html"><strong>Guideline 1.2 Time-based Media:</strong></a> Provide alternatives for time-based media.
    </div>

    <table class="table">
      <tbody class="a">
        {{> 1-2-1 }}
        {{> 1-2-2 }}
        {{> 1-2-3 }}
      </tbody>
      <tbody class="aa">
        {{> 1-2-4 }}
        {{> 1-2-5 }}
      </tbody>
      <tbody class="aaa">
        {{> 1-2-6 }}
        {{> 1-2-7 }}
        {{> 1-2-8 }}
        {{> 1-2-9 }}
      </tbody>
    </table>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation.html"><strong>Guideline 1.3 Adaptable:</strong> Create content that can be presented in different ways (for example simpler layout) without losing information or structure.
    </div>

    <table class="table">
      <tbody class="a">
        {{> 1-3-1 }}
        {{> 1-3-2 }}
        {{> 1-3-3 }}
      </tbody>
    </table>

  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast.html"><strong>Guideline 1.4 Distinguishable:</strong></a> Make it easier for users to see and hear content including separating foreground from background.
    </div>

    <table class="table">
      <tbody class="a">
        {{> 1-4-1 }}
        {{> 1-4-2 }}
      </tbody>
      <tbody class="aa">
        {{> 1-4-3 }}
        {{> 1-4-4 }}
        {{> 1-4-5 }}
      </tbody>
      <tbody class="aaa">
        {{> 1-4-6 }}
        {{> 1-4-7 }}
        {{> 1-4-8 }}
        {{> 1-4-9 }}
      </tbody>
    </table>
  </div>

</section>
