<tr data-role data-role-content data-role-design data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-idioms.html">3.1.3 - Unusual Words</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-1-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-1-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-1-3">

        <p>A mechanism is available for identifying specific definitions of words or phrases used in an unusual or restricted way, including idioms and jargon. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-1-3">

        <p>Words that may be ambiguous, unknown, or used in a very specific way are defined through adjacent text, a definition list, a glossary, or other suitable method.</p>

      </div>
    </div>

  </td>
</tr>
