<tr data-role-content data-role-design data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-located.html">3.1.4 - Abbreviations</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-1-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-1-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-1-4">

        <p>A mechanism for identifying the expanded form or meaning of abbreviations is available. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-1-4">

        <p>Expansions for abbreviations are provided by expanding or explaining the definition the first time it is used, using the <code>&lt;abbr&gt;</code> element, or linking to a definition or glossary. NOTE: WCAG 2.0 gives no exception for regularly understood abbreviations (e.g., "HTML" on a web design site must always be expanded).</p>

      </div>
    </div>

  </td>
</tr>
