<tr data-guideline data-role data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/consistent-behavior-unpredictable-change.html">3.2.2 - On Input</a>
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-2-2" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-2-2" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-2-2">

        <p>Changing the setting of any user interface component does not automatically cause a change of context unless the user has been advised of the behavior before using the component. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-2-2">

        <p>When a user inputs information or interacts with a control, it does not result in a substantial change to the page, the spawning of a pop-up window, an additional change of keyboard focus, or any other change that could confuse or disorient the user unless the user is informed of the change ahead of time.</p>

      </div>
    </div>

  </td>
</tr>
