<tr data-role data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/consistent-behavior-receive-focus.html">3.2.1 - On Focus</a>
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-2-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-2-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-2-1">

        <p>When any component receives focus, it does not initiate a change of context. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-2-1">

        <p>When a page element receives focus, it does not result in a substantial change to the page, the spawning of a pop-up window, an additional change of keyboard focus, or any other change that could confuse or disorient the user.</p>

      </div>
    </div>

  </td>
</tr>
