<tr data-guideline data-role data-role-design data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/consistent-behavior-consistent-functionality.html">3.2.4 - Consistent Identification</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-2-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-2-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-2-4">

        <p>Components that have the same functionality within a set of Web pages are identified consistently.  <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-2-4">

        <p>Elements that have the same functionality across multiple web pages are consistently identified. For example, a search box at the top of the site should always be labeled the same way.</p>

      </div>
    </div>

  </td>
</tr>
