<tr data-role-design data-role-fed data-role-ux>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/consistent-behavior-consistent-locations.html">3.2.3 - Consistent Navigation</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-2-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-2-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-2-3">

        <p>Navigational mechanisms that are repeated on multiple Web pages within a set of Web pages occur in the same relative order each time they are repeated, unless a change is initiated by the user. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-2-3">

        <p>Navigation links that are repeated on web pages do not change order when navigating through the site.</p>

      </div>
    </div>

  </td>
</tr>
