<tr data-role data-role-fed data-role-ux data-role-design>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/minimize-error-cues.html">3.3.2 - Labels or Instructions</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-3-2" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-3-2" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-3-2">

        <p>Labels or instructions are provided when content requires user input. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-3-2">

        <p>Sufficient labels, cues, and instructions for required interactive elements are provided via instructions, examples, properly positioned form labels, and/or fieldsets/legends.</p>

      </div>
    </div>

  </td>
</tr>
