<tr data-role data-role-fed data-role-ux data-role-design>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/minimize-error-suggestions.html">3.3.3 - Error Suggestion</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-3-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-3-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-3-3">

        <p>If an input error is automatically detected and suggestions for correction are known, then the suggestions are provided to the user, unless it would jeopardize the security or purpose of the content. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-3-3">

        <p>If an input error is detected (via client-side or server-side validation), provide suggestions for fixing the input in a timely and accessible manner.</p>

      </div>
    </div>

  </td>
</tr>
