<tr class="fed">
  <th>
    <p>
      3.1.2 - Language of Parts<br>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-1-2" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-1-2" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-1-2">

        <p>The human language of each passage or phrase in the content can be programmatically determined except for proper names, technical terms, words of indeterminate language, and words or phrases that have become part of the vernacular of the immediately surrounding text. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-1-2">

        <p>The language of page content that is in a different language is identified using the lang attribute (e.g., <code>&lt;blockquote lang="es"&gt;</code>).</p>

      </div>
    </div>

  </td>
</tr>
