<tr class="content design fed ux">
  <th>
    <p>
      3.1.6 - Pronunciation
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-1-6" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-1-6" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-1-6">

        <p>A mechanism is available for identifying specific pronunciation of words where meaning of the words, in context, is ambiguous without knowing the pronunciation. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-1-6">

        <p>If the pronunciation of a word is vital to understanding that word, its pronunciation is provided immediately following the word or via a link or glossary.</p>

      </div>
    </div>

  </td>
</tr>
