<tr class="fed">
  <th>
    <p>
      3.1.1 - Language of Page<br>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-1-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-1-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-1-1">

        <p>The default human language of each Web page can be programmatically determined. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-1-1">

        <p>The language of the page is identified using the HTML lang attribute (<code>&lt;html lang="en"&gt;</code>, for example).</p>

      </div>
    </div>

  </td>
</tr>
