<tr class="content design fed ux">
  <th>
    <p>
      3.1.5 - Reading Level<br>
      <span class="label label-content">Content</span>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-1-5" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-1-5" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-1-5">

        <p>When text requires reading ability more advanced than the lower secondary education level after removal of proper names and titles, supplemental content, or a version that does not require reading ability more advanced than the lower secondary education level, is available. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-1-5">

        <p>A more understandable alternative is provided for content that is more advanced than can be reasonably read by a person with roughly 9 years of primary education.</p>

      </div>
    </div>

  </td>
</tr>
