<tr class="fed ux design">
  <th scope="row">
    <p>
      3.3.4 - Error Prevention (Legal, Financial, Data)
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-3-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-3-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-3-4">

        <p>For Web pages that cause legal commitments or financial transactions for the user to occur, that modify or delete user-controllable data in data storage systems, or that submit user test responses, at least one of the following is true: <strong class="nowrap">Level AA</strong></p>

        <ol>
          <li><strong>Reversible:</strong> Submissions are reversible.</li>
          <li><strong>Checked:</strong> Data entered by the user is checked for input errors and the user is provided an opportunity to correct them.</li>
          <li><strong>Confirmed:</strong> A mechanism is available for reviewing, confirming, and correcting information before finalizing the submission.</li>
        </ol>

      </div>
      <div class="tab-pane" id="webaim_3-3-4">

        <p>If the user can change or delete legal, financial, or test data, the changes/deletions can be reversed, verified, or confirmed.</p>

      </div>
    </div>

  </td>
</tr>
