<tr class="fed ux design">
  <th>
    <p>
      3.3.6 - Error Prevention (All)<br>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-3-6" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-3-6" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-3-6">

        <p>For Web pages that require the user to submit information, at least one of the following is true: <strong class="nowrap">Level AAA</strong></p>

        <ol>
          <li><strong>Reversible:</strong> Submissions are reversible.</li>
          <li><strong>Checked:</strong> Data entered by the user is checked for input errors and the user is provided an opportunity to correct them.</li>
          <li><strong>Confirmed:</strong> A mechanism is available for reviewing, confirming, and correcting information before finalizing the submission.</li>
        </ol>

      </div>
      <div class="tab-pane" id="webaim_3-3-6">

        <p>If the user can submit information, the submission is reversible, verified, or confirmed.</p>

      </div>
    </div>

  </td>
</tr>
