<tr class="fed ux design">
  <th scope="row">
    <p>
      3.3.1 - Error Identification
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_3-3-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_3-3-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_3-3-1">

        <p>If an input error is automatically detected, the item that is in error is identified and the error is described to the user in text. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_3-3-1">

        <ul>
          <li>Required form elements or form elements that require a specific format, value, or length provide this information within the element's label.</li>
          <li>If utilized, form validation errors are presented in an efficient, intuitive, and accessible manner. The error is clearly identified, quick access to the problematic element is provided, and user is allowed to easily fix the error and resubmit the form.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
