<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Interactive WCAG 2.0</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/index.css">

    <script>(function(H) {H.className = H.className.replace(/\bno-js\b/, 'js')})(document.documentElement);</script>

  </head>
  <body>

    <div class="container">

      <header class="page-header">
        <h1>Interactive <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0</h1>
      </header>

      {{> filters }}
      {{> body }}
      {{> footer }}

    </div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="assets/scripts/index.js"></script>

  </body>
</html>
