<tr data-role data-role-fed data-role-ux data-role-content>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/media-equiv-live-audio-only.html">1.2.9 - Audio-only (Live)</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-2-9" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-2-9" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-2-9">

        <p>An alternative for time-based media that presents equivalent information for live audio-only content is provided. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-2-9">

        <p>A descriptive text transcript (e.g., the script of the live audio) is provided for all live content that has audio.</p>

      </div>
    </div>

  </td>
</tr>
