<tr data-guideline data-role data-role-fed data-role-ux data-role-content>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/media-equiv-real-time-captions.html">1.2.4 - Captions (Live)</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-2-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-2-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-2-4">

        <p>Captions are provided for all live audio content in synchronized media. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-2-4">

        <p>Synchronized captions are provided for all live multimedia that contains audio (audio-only broadcasts, web casts, video conferences, Flash animations, etc.).</p>

      </div>
    </div>

  </td>
</tr>
