<tr data-role data-role-fed data-role-ux data-role-content>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/media-equiv-sign.html">1.2.6 - Sign Language (Prerecorded)</a>
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-2-6" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-2-6" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-2-6">

        <p>Sign language interpretation is provided for all prerecorded audio content in synchronized media. <strong class="nowrap">Level AAA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-2-6">

        <p>A sign language video is provided for all media content that contains audio.</p>

      </div>
    </div>

  </td>
</tr>
