<tr data-role data-role-design data-role-fed>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-visual-presentation.html">1.4.8 - Visual Presentation</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-8" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-8" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-8">

        <p>For the visual presentation of blocks of text, a mechanism is available to achieve the following: <strong class="nowrap">Level AAA</strong></p>

        <ol>
          <li>Foreground and background colors can be selected by the user.</li>
          <li>Width is no more than 80 characters or glyphs (40 if CJK).</li>
          <li>Text is not justified (aligned to both the left and the right margins).</li>
          <li>Line spacing (leading) is at least space-and-a-half within paragraphs, and paragraph spacing is at least 1.5 times larger than the line spacing.</li>
          <li>Text can be resized without assistive technology up to 200 percent in a way that does not require the user to scroll horizontally to read a line of text on a full-screen window.</li>
        </ol>

      </div>
      <div class="tab-pane" id="webaim_1-4-8">

        <p>Blocks of text over one sentence in length:</p>

        <ul>
          <li>Are no more than 80 characters wide.</li>
          <li>Are NOT fully justified (aligned to both the left and the right margins).</li>
          <li>Have adequate line spacing (at least 1/2 the height of the text) and paragraph spacing (1.5 times line spacing).</li>
          <li>Have a specified foreground and background color. These can be applied to specific elements or to the page as a whole using CSS (and thus inherited by all other elements).</li>
          <li>Do NOT require horizontal scrolling when the text size is doubled.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
