<tr class="design fed">
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-text-images.html">1.4.9 - Images of Text (No Exception)</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-9" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-9" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-9">

        <p>Images of text are only used for pure decoration or where a particular presentation of text is essential to the information being conveyed. <strong class="nowrap">Level AAA</strong></p>

        <p><em>Note:</em> Logotypes (text that is part of a logo or brand name) are considered essential.</p>

      </div>
      <div class="tab-pane" id="webaim_1-4-9">

        <p>Text is used within an image only for decoration (image does not convey content) OR when the information cannot be presented with text alone.</p>

      </div>
    </div>

  </td>
</tr>
