<tr data-role-design>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast7.html">1.4.6 - Contrast (Enhanced)</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-6" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-6" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-6">

        <p>The visual presentation of text and images of text has a contrast ratio of at least 7:1, except for the following: <strong class="nowrap">Level AAA</strong></p>

        <ul>
          <li><strong>Large Text:</strong> Large-scale text and images of large-scale text have a contrast ratio of at least 4.5:1;</li>
          <li><strong>Incidental:</strong> Text or images of text that are part of an inactive user interface component, that are pure decoration, that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast requirement.</li>
          <li><strong>Logotypes:</strong> Text that is part of a logo or brand name has no minimum contrast requirement.</li>
        </ul>

      </div>
      <div class="tab-pane" id="webaim_1-4-6">

        <ul>
          <li>Text and images of text have a contrast ratio of at least 7:1.</li>
          <li>Large text (over 18 point or 14 point bold) has a contrast ratio of at least 4.5:1</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
