<tr data-role data-role-design>
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-without-color.html">1.4.1 - Use of Color</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-1">

        <p>Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-4-1">

        <ul>
          <li>Color is not used as the sole method of conveying content or distinguishing visual elements.</li>
          <li>Color alone is not used to distinguish links from surrounding text unless the luminance contrast between the link and the surrounding text is at least 3:1 and an additional differentiation (e.g., it becomes underlined) is provided when the link is hovered over or receives focus.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
