<tr class="fed ux">
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html">1.1.1 - Non-text Content</a>
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>
  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-1-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-1-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-1-1">

        <p>All non-text content that is presented to the user has a text alternative that serves the equivalent purpose, except for the situations listed below. <strong class="nowrap">Level A</strong></p>

        <ul>
          <li><strong>Controls, Input:</strong> If non-text content is a control or accepts user input, then it has a name that describes its purpose. (Refer to Guideline 4.1 for additional requirements for controls and content that accepts user input.)</li>
          <li><strong>Time-Based Media:</strong> If non-text content is time-based media, then text alternatives at least provide descriptive identification of the non-text content. (Refer to Guideline 1.2 for additional requirements for media.)</li>
          <li><strong>Test:</strong> If non-text content is a test or exercise that would be invalid if presented in text, then text alternatives at least provide descriptive identification of the non-text content.</li>
          <li><strong>Sensory:</strong> If non-text content is primarily intended to create a specific sensory experience, then text alternatives at least provide descriptive identification of the non-text content.</li>
          <li><strong>CAPTCHA:</strong> If the purpose of non-text content is to confirm that content is being accessed by a person rather than a computer, then text alternatives that identify and describe the purpose of the non-text content are provided, and alternative forms of CAPTCHA using output modes for different types of sensory perception are provided to accommodate different disabilities.</li>
          <li><strong>Decoration, Formatting, Invisible:</strong> If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it is implemented in a way that it can be ignored by assistive technology.</li>
        </ul>

      </div>
      <div class="tab-pane" id="webaim_1-1-1">

        <ul>
          <li>All images, form image buttons, and image map hot spots have appropriate, equivalent alternative text.</li>
          <li>Images that do not convey content, are decorative, or contain content that is already conveyed in text are given null alt text (alt="") or implemented as CSS backgrounds. All linked images have descriptive alternative text.</li>
          <li>Equivalent alternatives to complex images are provided in context or on a separate (linked and/or referenced via longdesc) page.</li>
          <li>Form buttons have a descriptive value.</li>
          <li>Form inputs have associated text labels.</li>
          <li>Embedded multimedia is identified via accessible text.</li>
          <li>Frames are appropriately titled.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
