<tr class="fed ux content">
  <th scope="row">
    <p>
      1.2.3 - Audio Description or Media Alternative (Prerecorded)
    </p>
    <p>
      <span class="label label-content">Content</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-2-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-2-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-2-3">

        <p>An alternative for time-based media or audio description of the prerecorded video content is provided for synchronized media, except when the media is a media alternative for text and is clearly labeled as such. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-2-3">

        <p>A descriptive text transcript OR audio description audio track is provided for non-live, web-based video.</p>

      </div>
    </div>

  </td>
</tr>
