<tr class="fed ux">
  <th scope="row">
    <p>
      1.3.1 - Info and Relationships
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-3-1" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-3-1" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-3-1">

        <p>Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-3-1">

        <ul>
          <li>Semantic markup is used to designate headings (<code>&lt;h1&gt;</code>), lists (<code>&lt;ul&gt;</code>, <code>&lt;ol&gt;</code>, and <code>&lt;dl&gt;</code>), emphasized or special text (<code>&lt;strong&gt;</code>, <code>&lt;code&gt;</code>, <code>&lt;abbr&gt;</code>, <code>&lt;blockquote&gt;</code>, for example), etc. Semantic markup is used appropriately.</li>
          <li>Tables are used for tabular data. Where necessary, data cells are associated with their headers. Data table captions and summaries are used where appropriate.</li>
          <li>Text labels are associated with form input elements. Related form elements are grouped with fieldset/legend.</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
