<tr class="fed ux design">
  <th scope="row">
    <p>
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation-understanding.html">1.3.3 - Sensory Characteristics</a>
    </p>
    <p>
      <span class="label label-design">Design</span>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-3-3" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-3-3" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-3-3">

        <p>Instructions provided for understanding and operating content do not rely solely on sensory characteristics of components such as shape, size, visual location, orientation, or sound. <strong class="nowrap">Level A</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-3-3">

        <ul>
          <li>Instructions do not rely upon shape, size, or visual location (e.g., "Click the square icon to continue" or "Instructions are in the right-hand column").</li>
          <li>Instructions do not rely upon sound (e.g., "A beeping sound indicates you may continue.").</li>
        </ul>

      </div>
    </div>

  </td>
</tr>
