<tr class="ux fed">
  <th>
    <p>
      1.4.7 - Low or No Background Audio
    </p>
    <p>
      <span class="label label-fed">FED</span>
      <span class="label label-ux">UX</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-7" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-7" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-7">

        <p>For prerecorded audio-only content that (1) contains primarily speech in the foreground, (2) is not an audio CAPTCHA or audio logo, and (3) is not vocalization intended to be primarily musical expression such as singing or rapping, at least one of the following is true: <strong class="nowrap">Level AAA</strong></p>

        <ul>
          <li><strong>No Background:</strong> The audio does not contain background sounds.</li>
          <li><strong>Turn Off:</strong> The background sounds can be turned off.</li>
          <li><strong>20 dB:</strong> The background sounds are at least 20 decibels lower than the foreground speech content, with the exception of occasional sounds that last for only one or two seconds.<br><em>Note:</em> Per the definition of "decibel," background sound that meets this requirement will be approximately four times quieter than the foreground speech content.</li>
        </ul>

      </div>
      <div class="tab-pane" id="webaim_1-4-7">

        <p>Audio of speech has no or very low background noise so the speech is easily distinguished.</p>

      </div>
    </div>

  </td>
</tr>
