<tr class="fed">
  <th>
    <p>
      1.4.4 - Resize text
    </p>
    <p>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-4" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-4" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-4">

        <p>Except for captions and images of text, text can be resized without assistive technology up to 200 percent without loss of content or functionality. <strong class="nowrap">Level AA</strong></p>

      </div>
      <div class="tab-pane" id="webaim_1-4-4">

        <p>The page is readable and functional when the text size is doubled.</p>

      </div>
    </div>

  </td>
</tr>
