<tr class="fed">
  <th>
    <p>
      1.4.5 - Images of Text<br>
      <span class="label label-fed">FED</span>
    </p>
  </th>

  <td>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#w3c_1-4-5" role="tab" data-toggle="tab">W3C Recommendation</a></li>
      <li><a href="#webaim_1-4-5" role="tab" data-toggle="tab">WebAIM Recommendation</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="w3c_1-4-5">

        <p>If the technologies being used can achieve the visual presentation, text is used to convey information rather than images of text except for the following: <strong class="nowrap">Level AA</strong></p>

        <ul>
          <li><strong>Customizable:</strong> The image of text can be visually customized to the user's requirements;</li>
          <li><strong>Essential:</strong> A particular presentation of text is essential to the information being conveyed.</li>
        </ul>

        <p><em>Note:</em> Logotypes (text that is part of a logo or brand name) are considered essential.</p>

      </div>
      <div class="tab-pane" id="webaim_1-4-5">

        <p>If the same visual presentation can be made using text alone, an image is not used to present that text.</p>

      </div>
    </div>

  </td>
</tr>
